
html, body {
  background: black;
  color: white;
  font-family: "Open Sans";
  font-weight: 100;
  font-size: 1.2em;
  text-align: right;
  padding: 20px;
  margin: 0;
}

/** Ultra Light */
@font-face {
  font-family: "Open Sans";
  font-weight: 100;
}

/** Thin */
@font-face {
  font-family: "Open Sans";
  font-weight: 200;
}

/** Medium */
@font-face {
  font-family: "Open Sans";
  font-weight: normal;
}

/** Semi Bold */
@font-face {
  font-family: "Open Sans";
  font-weight: 500;
}

/** Bold */
@font-face {
  font-family: "Open Sans";
  font-weight: bold;
}

.weather-lg {
  font-weight:700;
  font-size: 48px;
}